// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-size: 13px;
}

.field1{
  margin-bottom: 10px;
}

.field2{
  margin-bottom: 10px;
}

.text-bottom{
  margin-bottom: 10px;
}