// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-area{
  font-size: 13px;
  margin: 33px;
}

.title-area p{
  display: inline-block;
}

.body-area{
  font-size: 13px;
  margin: 33px;
}

.body-area p{
  display: inline-block;
}

.link-area{
  font-size: 13px;
  margin: 33px;
}

.link-area p{
  display: inline-block;
}